<div id="modal-form" class="modal">
    <div class="modal-content">
        <h4>Create Your Burger</h4>
        <p>Give it a name, then describe what it is:</p>
        <form class="col s-12">
            <div class="row">
               <label for="name">Name Your Burger</label>
               <input id="name" type="text" placeholder="type name here..."/>
            </div>
            <div class="row">
                <label for="description">Description</label>
                <input id="description" type="text" placeholder="type description here..."/>
           </div>
            <div class="row">
                <button type="submit" id="submit">Build Your Burger!</button>
            </div>
        </form>
    </div>
</div>