<div>
    <input id="name" type="text" placeholder="name"/>
    <br>
    <input id="description" type="text" placeholder="description"/>
    <br>
    <button type="submit" id="submit">Submit</button>
</div>