<nav>
    <div class="nav-wrapper amber darken-2">
        <h1 id="title" class="brand-logo">I Can Has Cheezburger?</h1>
        <ul id="nav-links" class="right">
            <li><a class="waves-effect waves-light btn-small red" href="https://github.com/akaryrye/Burger" target="_blank">Github</a></li>
            <li><a class="modal-trigger waves-effect waves-light btn-small red" data-target="modal-form">Create A Burger</a></li>
        </ul>
    </div>
</nav>