<h1>My Burger App</h1><br>

<h3>Burgers Available</h3>
<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burger }}
        {{/unless}}
    {{/each}}
</ul>

<h3>Devoured Burgers</h3>
<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burger }}
        {{/if}}
    {{/each}}
</ul>
<div>
    <input id="name" type="text" placeholder="name"/>
    <br>
    <input id="description" type="text" placeholder="description"/>
    <br>
    <button type="submit" id="submit">Submit</button>
</div>