<h1>My Burger App</h1><br>

{{> form }}

<h3>Burgers Available</h3>
<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burger }}
        {{/unless}}
    {{/each}}
</ul>

<h3>Devoured Burgers</h3>
<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burger }}
        {{/if}}
    {{/each}}
</ul>
